*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:white
}


html,body {

    height: 100%;
    width: 100%;
  background-color: black;

}

.main{

    height:100%;
    width: 100%;

}

nav{

    display: flex;
    align-items: center;
    justify-content: space-between;

    height:60px;

    width: 100%;
    padding: 5px 50px ;

}


nav div {

    display: flex;
    gap: 30px;
}


nav  h3 {

    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.home {

    margin-top: 150px;


    width: 80%;

    margin-left:150px;
    z-index: 9;
    position: relative;
}





.home h1{

    font-size: 130px;
    font-family: 300;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

h1:nth-child(2)
{
    text-align: center;
}


h1:nth-child(3)
{
    text-align: center;
}


.imagediv {
    position: absolute;
    top:13%;
    left:40%;

}


img{
   
    position: absolute;

    top:13%;
    left:40%;
    


    height: 300px;
    width: 300px;
    object-fit:contain;
    border-radius: 30%;

}

.img1 {

    rotate:20deg
}

.img2{

    rotate:15deg
}

.img3{

    rotate:2deg
}