*{


    margin:0;
    padding:0;
    box-sizing: border-box;
}


html, body {
    height: 100%;
    width: 100%;

    background-color: black;



}


body{

    overflow-x: hidden;
}


.page1{


    height: 100%;
    width: 100%;
    background-color: black;
}


.page2{


    height: 100%;
    width: 100%;
    background-color:lightgreen;
}



.page2 h1 {


    font-size: 40vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    white-space: nowrap;


}