@font-face {
    font-family: "Plain";
    src: url('./fonts/plain-regular-webfont.woff')format('woff');
}


@font-face {
    font-family: "silk serif";
    src: url('./fonts/SilkSerif-TRIAL-Light-BF6740066e4d5cb.ttf')format("truetype");
}
*{
 margin:0;
padding:0;
box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
    background-color: black;
    color:white;

}
.loader{

height: 100%;
width: 100%;
background-color:black;
z-index: 9999;
padding: 20vh 10vw;

}

.line {

height: fit-content;
    margin-bottom: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    position: relative;

}


.preloader{
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw;
    margin-right: 30px;
}

.preloader h5{

    width: 5vw;
    overflow: hidden;
}

.preloader  h5 ,.preloader h6{

font-size: 2.5vw;
font-style: italic;
font-family:'silk serif';
font-weight: 100;
}


.line h1 {
    font-size: 6vw;

    text-transform: uppercase;
    font-weight: 700;
   font-family: "Plain";
}
.line h2 {
    font-size: 5.5vw;
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: capitalize;
    margin-left: 20px;
    font-weight: 300;
    animation:textAnimation 1.5s infinite;
    -webkit-animation:textAnimation 1.5s infinite;
}

.line:nth-child(3) h1{

    margin-right: 15px;
}

.main{

    height: 100%;
    width: 100%;
}

.page1{
    height: 100vh;
    width: 100%;
    background-color:#151515;
}
.page2{

    height: 100vh;
    width: 100%;
    background-color: #000;

}




.page3{

    height: 100vh;
    width: 100%;
    background-color:#000;

}
@keyframes textAnimation{
    0%{

        font-family: "Plain";
        -webkit-text-stroke: 1px  white;
        color:transparent;

        font-style: italic;
    }

    40%{


        font-family: "Plain";
        -webkit-text-stroke: 1px  white;
        color:white;

        font-style: italic;


    }

    80%{

        font-family: "silk serif";
        -webkit-text-stroke: 1px  white;
        color:transparent;

        font-style: italic;


    }
    100%{

        font-family: "silk serif";
        -webkit-text-stroke: 1px  white;
        color:transparent;

        font-style: italic;
    }
}
